<a href="https://colab.research.google.com/github/jfink09/Random-Python-Projects/blob/main/HockeyStats.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data1 = pd.ExcelFile("nhl11-12.xlsx")
data2 = pd.ExcelFile("nhl11-13.xlsx")

df1 = pd.read_excel(data1)
df2 = pd.read_excel(data2)

In [4]:
df1

,Team,Game Date,GP,W,L,T,OT,P,P%,RW,...,GA,GF/GP,GA/GP,PP%,PK%,Net PP%,Net PK%,Shots/GP,SA/GP,FOW%
0,New Jersey Devils,2022-11-12,1,1,0,--,0,2,1.0,1,...,2,4,2,12.5,50,12.5,50,26,18,58.2
1,New York Islanders,2022-11-12,1,1,0,--,0,2,1.0,0,...,3,4,3,0,50,0,50,46,29,55.7
2,Boston Bruins,2022-11-12,1,1,0,--,0,2,1.0,1,...,1,3,1,33.3,100,0,100,30,31,47.5
3,Montr√©al Canadiens,2022-11-12,1,1,0,--,0,2,1.0,0,...,4,5,4,20,66.7,20,66.7,42,24,46.0
4,Ottawa Senators,2022-11-12,1,1,0,--,0,2,1.0,1,...,1,4,1,66.7,100,66.7,100,27,38,44.8
5,Toronto Maple Leafs,2022-11-12,1,1,0,--,0,2,1.0,1,...,2,3,2,50,75,50,75,34,29,56.3
6,Chicago Blackhawks,2022-11-12,1,1,0,--,0,2,1.0,1,...,2,3,2,0,100,0,100,22,41,62.9
7,Nashville Predators,2022-11-12,1,1,0,--,0,2,1.0,1,...,1,2,1,0,100,0,100,18,35,49.0
8,St. Louis Blues,2022-11-12,1,1,0,--,0,2,1.0,1,...,2,3,2,0,--,-25,--,28,36,39.7
9,Calgary Flames,2022-11-12,1,1,0,--,0,2,1.0,1,...,2,3,2,0,100,0,133.3,35,23,46.6
10,Colorado Avalanche,2022-11-12,1,1,0,--,0,2,1.0,1,...,1,4,1,25,100,25,100,28,25,38.0
11,Edmonton Oilers,2022-11-12,1,1,0,--,0,2,1.0,1,...,2,4,2,20,66.7,20,66.7,32,42,53.5
12,Los Angeles Kings,2022-11-12,1,1,0,--,0,2,1.0,1,...,3,4,3,66.7,50,66.7,50,21,21,57.7
13,Pittsburgh Penguins,2022-11-12,1,0,0,--,1,1,0.5,0,...,5,4,5,33.3,80,33.3,80,24,42,54.0
14,Columbus Blue Jackets,2022-11-12,1,0,0,--,1,1,0.5,0,...,4,3,4,50,100,50,100,29,46,44.3
15,New York Rangers,2022-11-12,1,0,1,--,0,0,0.0,0,...,2,1,2,0,100,0,100,35,18,51.0
16,Philadelphia Flyers,2022-11-12,1,0,1,--,0,0,0.0,0,...,4,1,4,0,33.3,0,33.3,38,27,55.2
17,Buffalo Sabres,2022-11-12,1,0,1,--,0,0,0.0,0,...,3,1,3,0,66.7,0,100,31,30,52.5
18,Carolina Hurricanes,2022-11-12,1,0,1,--,0,0,0.0,0,...,4,1,4,0,75,0,75,25,28,62.0
19,Florida Panthers,2022-11-12,1,0,1,--,0,0,0.0,0,...,4,2,4,33.3,80,33.3,80,42,32,46.6
20,Detroit Red Wings,2022-11-12,1,0,1,--,0,0,0.0,0,...,4,3,4,50,33.3,50,33.3,21,21,42.3
21,Vancouver Canucks,2022-11-12,1,0,1,--,0,0,0.0,0,...,3,2,3,25,50,25,50,29,34,43.8
22,Anaheim Ducks,2022-11-12,1,0,1,--,0,0,0.0,0,...,3,2,3,0,100,0,100,41,22,37.1
23,Winnipeg Jets,2022-11-12,1,0,1,--,0,0,0.0,0,...,3,2,3,0,100,-33.3,100,23,35,53.5
24,Arizona Coyotes,2022-11-12,1,0,1,--,0,0,0.0,0,...,4,2,4,50,87.5,50,87.5,18,26,41.8
25,Vegas Golden Knights,2022-11-12,1,0,1,--,0,0,0.0,0,...,3,2,3,--,100,--,125,36,28,60.3

In [5]:
df2

,Team,Game Date,GP,W,L,T,OT,P,P%,RW,...,GA,GF/GP,GA/GP,PP%,PK%,Net PP%,Net PK%,Shots/GP,SA/GP,FOW%
0,New York Rangers,2022-11-13,1,1,0,--,0,2,1.0,1,...,1,4,1,25.0,83.3,25.0,83.3,27,32,38.5
1,Boston Bruins,2022-11-13,1,1,0,--,0,2,1.0,1,...,2,5,2,33.3,66.7,33.3,83.3,33,31,63.8
2,Tampa Bay Lightning,2022-11-13,1,1,0,--,0,2,1.0,1,...,3,6,3,50.0,100.0,50.0,100.0,35,22,45.3
3,Dallas Stars,2022-11-13,1,1,0,--,0,2,1.0,1,...,1,5,1,66.7,100.0,66.7,116.7,31,38,74.1
4,San Jose Sharks,2022-11-13,1,1,0,--,0,2,1.0,0,...,2,2,2,0.0,100.0,-33.3,100.0,37,30,51.8
5,Winnipeg Jets,2022-11-13,1,1,0,--,0,2,1.0,0,...,2,3,2,28.6,75.0,28.6,75.0,30,21,43.5
6,Minnesota Wild,2022-11-13,1,0,0,--,1,1,0.5,0,...,2,2,2,0.0,100.0,0.0,133.3,30,37,48.2
7,Seattle Kraken,2022-11-13,1,0,0,--,1,1,0.5,0,...,3,2,3,25.0,71.4,25.0,71.4,21,30,56.5
8,Philadelphia Flyers,2022-11-13,1,0,1,--,0,0,0.0,0,...,5,1,5,0.0,33.3,-16.7,33.3,38,31,25.9
9,Washington Capitals,2022-11-13,1,0,1,--,0,0,0.0,0,...,6,3,6,0.0,50.0,0.0,50.0,22,35,54.7
10,Vancouver Canucks,2022-11-13,1,0,1,--,0,0,0.0,0,...,5,2,5,33.3,66.7,16.7,66.7,31,33,36.2
11,Arizona Coyotes,2022-11-13,1,0,1,--,0,0,0.0,0,...,4,1,4,16.7,75.0,16.7,75.0,32,27,61.5

In [10]:
GF1 = df1["GF"]
GF2 = df2["GF"]

print(f"GF From Second To Last Game: {GF1}")
print(f"GF From Last Game: {GF2}")

GF From Second To Last Game: 0     4
1     4
2     3
3     5
4     4
5     3
6     3
7     2
8     3
9     3
10    4
11    4
12    4
13    4
14    3
15    1
16    1
17    1
18    1
19    2
20    3
21    2
22    2
23    2
24    2
25    2
Name: GF, dtype: int64
GF From Last Game: 0     4
1     5
2     6
3     5
4     2
5     3
6     2
7     2
8     1
9     3
10    2
11    1
Name: GF, dtype: int64

In [11]:
GA1 = df1["GA"]
GA2 = df2["GA"]

print(f"GA From Second To Last Game: {GA1}")
print(f"GA From Last Game: {GA2}")

GA From Second To Last Game: 0     2
1     3
2     1
3     4
4     1
5     2
6     2
7     1
8     2
9     2
10    1
11    2
12    3
13    5
14    4
15    2
16    4
17    3
18    4
19    4
20    4
21    3
22    3
23    3
24    4
25    3
Name: GA, dtype: int64
GA From Last Game: 0     1
1     2
2     3
3     1
4     2
5     2
6     2
7     3
8     5
9     6
10    5
11    4
Name: GA, dtype: int64

In [12]:
# Total = GF + GA
total_1 = GF1 + GA1
total_2 = GF2 + GA2

print(f"Total From Second To Last Game: {total_1}")
print(f"Total From Last Game: {total_2}")

Total From Second To Last Game: 0     6
1     7
2     4
3     9
4     5
5     5
6     5
7     3
8     5
9     5
10    5
11    6
12    7
13    9
14    7
15    3
16    5
17    4
18    5
19    6
20    7
21    5
22    5
23    5
24    6
25    5
dtype: int64
Total From Last Game: 0     5
1     7
2     9
3     6
4     4
5     5
6     4
7     5
8     6
9     9
10    7
11    5
dtype: int64

In [14]:
# Spread = GF - GA
spread_1 = GF1 - GA1
spread_2 = GF2 - GA2

print(f"Spread From Second To Last Game: {spread_1}")
print(f"Spread From Last Game: {spread_2}")

Spread From Second To Last Game: 0     2
1     1
2     2
3     1
4     3
5     1
6     1
7     1
8     1
9     1
10    3
11    2
12    1
13   -1
14   -1
15   -1
16   -3
17   -2
18   -3
19   -2
20   -1
21   -1
22   -1
23   -1
24   -2
25   -1
dtype: int64
Spread From Last Game: 0     3
1     3
2     3
3     4
4     0
5     1
6     0
7    -1
8    -4
9    -3
10   -3
11   -3
dtype: int64

In [16]:
# Spread = GF - GA
points_1 = df1["P"]
points_2 = df2["P"]
teams_1 = df1["Team"]
teams_2 = df2["Team"]

print(f"Points From Second To Last Game: {points_1}")
print(f"Points From Last Game: {points_2}")

Points From Second To Last Game: 0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     2
10    2
11    2
12    2
13    1
14    1
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
Name: P, dtype: int64
Points From Last Game: 0     2
1     2
2     2
3     2
4     2
5     2
6     1
7     1
8     0
9     0
10    0
11    0
Name: P, dtype: int64

In [21]:
df1["Table"] = teams_1.astype(str) +"             "+ points_1.astype(str)
df1["Table"]

0         New Jersey Devils             2
1        New York Islanders             2
2             Boston Bruins             2
3        Montr√©al Canadiens             2
4           Ottawa Senators             2
5       Toronto Maple Leafs             2
6        Chicago Blackhawks             2
7       Nashville Predators             2
8           St. Louis Blues             2
9            Calgary Flames             2
10       Colorado Avalanche             2
11          Edmonton Oilers             2
12        Los Angeles Kings             2
13      Pittsburgh Penguins             1
14    Columbus Blue Jackets             1
15         New York Rangers             0
16      Philadelphia Flyers             0
17           Buffalo Sabres             0
18      Carolina Hurricanes             0
19         Florida Panthers             0
20        Detroit Red Wings             0
21        Vancouver Canucks             0
22            Anaheim Ducks             0
23            Winnipeg Jets             0
24          Arizona Coyotes             0
25     Vegas Golden Knights             0
Name: Table, dtype: object

In [22]:
df2["Table"] = teams_2.astype(str) +"             "+ points_2.astype(str)
df2["Table"]

0        New York Rangers             2
1           Boston Bruins             2
2     Tampa Bay Lightning             2
3            Dallas Stars             2
4         San Jose Sharks             2
5           Winnipeg Jets             2
6          Minnesota Wild             1
7          Seattle Kraken             1
8     Philadelphia Flyers             0
9     Washington Capitals             0
10      Vancouver Canucks             0
11        Arizona Coyotes             0
Name: Table, dtype: object

In [29]:
table = points_1.astype(str) +"      "+ points_2.astype(str)
table

0     2      2
1     2      2
2     2      2
3     2      2
4     2      2
5     2      2
6     2      1
7     2      1
8     2      0
9     2      0
10    2      0
11    2      0
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20         NaN
21         NaN
22         NaN
23         NaN
24         NaN
25         NaN
Name: P, dtype: object

In [30]:
OU = 5